/* You can add global styles to this file, and also import other style files */
html
    margin 0
    padding 0
    background-color brown

button
    &.main
        background brown
        color white
        font-weight bold
        padding 8px 16px
        outline none
        border none
        border-radius 4px
        float right
